<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>竞拍者登录页</title>
		<link rel="stylesheet" href="css/index.css" />
		<script type="text/javascript" src="js/vue.js"></script>
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/jq_ajax_config.js"></script>
		<style>
			#jpzdlApp{
				margin: auto;
			}
		</style>
	</head>

	<body>
		<div id="jpzdlApp">
			<h1>用户登录</h1>
			<el-form ref="form" :rules="rules" :model="form" label-width="80px" style="width: 70%;">
				<el-form-item label="用户名：" prop="name">
					<el-col :span="5">
					<el-input placeholder="请输入用户名" v-model="form.name"></el-input>
					</el-col>
				</el-form-item>
				<el-form-item label="密码：" prop="pwd">
					<el-col :span="5">
					<el-input placeholder="请输入密码" v-model="form.pwd" show-password></el-input>
					</el-col>
				</el-form-item>
				<el-form-item>
					<el-checkbox >下次自动登录</el-checkbox>
				</el-form-item>
				<el-form-item>
					<el-button type="primary" @click="login()">登录</el-button>
					<el-button type="warning">注册</el-button>
					<el-link href="java:Script(0)">忘记密码</el-link>
				</el-form-item>
			</el-form>

		</div>
	</body>
	<script type="text/javascript" src="js/index.js"></script>
	<script>
		var glydlApp = new Vue({
			el: "#jpzdlApp",
			data: {
				form: {
					name: '',
					pwd: ''
				},
				rules: {
					name: [{
						required: true,
						message: '请输入用户名',
						trigger: 'blur'
					}],
					pwd: [{
						required: true,
						message: '请输入密码',
						trigger: 'blur'
					}]
				}

			},
			methods:{
				login(){
					$.getJSON(`http://127.0.0.1:8080/api/users/user/${this.form.name}/${this.form.pwd}`,
					function(data){
						if(data!=null){
							window.sessionStorage.setItem('user',JSON.stringify(data));
							location.href="index.html"

						}else{
							alert("密码或用户名错误");
						}
						
						
						
					})
					
				}
			}
		});
	</script>

</html>